<!-- JavaScript at the bottom for fast page loading -->

<!-- Your JS goes here... -->
<script src="/js/scale.js"></script>

<!-- Google Analytics -->
<script>
  var _gaq=[['_setAccount','{{ site.analytics }}'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<!-- Prompt IE < 8 users to install Chrome Frame. -->
<!--[if lt IE 8 ]>
  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
  <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->
